body {
    background-color: lightblue;
    background-image: url("shoeswallpaper1.jpg");
    background-repeat: no-repeat;
    text-align: center;
}

img  {
text-align: center;
}

h1 {
    color: black;
    text-align: center;
}

p3 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: start;
}

p2 { 
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    text-align: center;
}


p3 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    text-align: left;
}